
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 20vw;
    display: block;
    margin: auto;
}
h1{
    color:aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
}
#name{
    color:rgb(212, 50, 122) ;
    font-size: 40px;
}
#va{
    color:aqua ;
    font-size: 40px;
}
#voice{
    width: 150px;
    display: none;
}
#btn{
    width: 35%;
    background:linear-gradient(to right,pink,blue);
    border-radius: 30px;
    padding: 20px;
    font-size: 40px;
    box-shadow: 2px 2px 10px;
    color: aqua;
    border: none;
    transition: all 0.5s;
    
}
#btn:hover{
    box-shadow:2px 2px 25px ;
    letter-spacing: 2px;
    transition: all 0.5s;
    color: black;
    background:linear-gradient(to right,red,blue);
}
#content{
    width: 35%;
    background:linear-gradient(to right,pink,blue);
    border-radius: 30px;
    padding: 20px;
    font-size: 40px;
    box-shadow: 2px 2px 10px;
    color: aqua;
    border: none;
    transition: all 0.5s;
    
}
h1{
    font-size: 20px;
}

#container{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem; 
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

#container div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

#container div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
#container div a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan;
}
#container div:hover{
    transform: translateY(-10px);
}
